<!DOCTYPE html>
<html>
  <head>
    <title>FullMovie4.me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="static/base.css">
  </head>

  <body id='app'>
    <h1>Full Movie 4 Me</h1>
    
    <nav id='control'>
      <input id="search" name="search" type="text" placeholder="Search Movies" autofocus>
      Sort by:
      <button class='sortby' id='audience_rating'>Audience Rating<span/></button>
      <button class='sortby' id='year'>Year<span/></button>
      <button class='sortby' id='listing_ts'>Date Added<span/></button>
      <button class='sortby' id='refresh'>REFRESH</button> <!-- no arrow direction span: always desc -->

    </nav>

    <img id="load-spinner" src="static/spinner.gif">
    <section id="movie-list">
    </section>
    <!--vendor-->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="vendor/riot.js"></script>
      <script type="text/javascript" src="static/base.js"></script>
    <!--app-->

  </body>


  <!-- templates -->
  <script type="text/tmpl" id="movie-item">
    <div class='movie-item'>
      <div><strong><a href='{youtube_url}'>{title}</a></strong> {year}</div>
      <div>Audience Rating: {audience_rating}, Critics: {critics_rating}</div>
      <div id="more-details" hidden>
        <a href="http://www.rottentomatoes.com/search/?search={title}">View on Rotten Tomatoes</a>
      </div>
    </div>
  </script>

  <!-- start the application -->
  <script>
      // admin({
      //   page: location.hash.slice(2),
      //   root: $("body"),
      //   debug: true,
      //   cache: false
      // });
  </script>
</html>