body {
  margin:0 auto;
  max-width:1000px;
}

h1 {
  color: #9ACD32;
  text-align: center;
}

nav input#search {
  display:block;
  margin: 0 auto;
  width: 300px;
}

section#movie-list {
  -webkit-columns: 300px 3;
   -moz-columns: 300px 3;
        columns: 300px 3;
}

.movie-item {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: .5em;
  margin-bottom: 1px;
}

.movie-item a {
  text-decoration: none;
  color: #268bd2;
}

button {
  cursor: pointer;
}

button#refresh {
  position:absolute;
}

#load-spinner {
  display: block;
  margin: 0 auto;
}

.arrow-desc {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: relative;
  left: 1px;
  top: 10px;
}

.arrow-asc {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  position: relative;
  left: 1px;
  bottom: 9px;
}
