body {
  margin:0;
  max-width:20em;
  background-color: #268bd2;
}

h1 {
  color: #9ACD32;
  text-align: center;
}

.movie-item {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: .5em;
  margin-bottom: 1px;
}

.movie-item a {
  text-decoration: none;
  color: #268bd2;
}

button {
  cursor: pointer;
}

#load-spinner {
  display: block;
  margin: 0 auto;
}


.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: relative;
  left: 1px;
}

.arrow.asc {
  border-top: 5px solid black;
  top: 10px;
}

.arrow.desc {
  border-bottom: 5px solid black;
  bottom: 9px;
}
